body{
    background: linear-gradient(130deg, #FF7A18, #AF002D 41.07%, #319197 76.05%) no-repeat;
    background-size: contain;
}
.container{
    position: relative;
    width: 66vmax;
    height: 33vmax;
    max-width: 1000px;
    max-height: 500px;
    min-width: 300px;
    min-height: 150px;
    margin: 15% auto;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}
.key{
    position: relative;
    background-color: #F9F6EE;
    border: solid dimgrey 2px;
    width: 15%;
    height: 100%;
    font-size: 2vmax;
}

kbd{
    position: absolute;
    padding-top: 250%;
    margin-left: 45%;
    margin-right: 45%;
}
